workflows/dev/gpt_generator.json
{
  "name": "gpt_generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulaire-doc",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b9c911d9-829b-444e-98f4-07d89f6eb1c6",
      "name": "Formulaire (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-720, 336],
      "webhookId": "b9831e24-a00c-4c88-8870-eadb470a1e00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "civiliteDestinataire",
              "name": "civiliteDestinataire",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.civiliteDestinataire }}",
              "type": "string"
            },
            {
              "id": "genre",
              "name": "genre",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.civiliteDestinataire === 'Madame' ? 'la' : 'le' }}",
              "type": "string"
            },
            {
              "id": "nomDestinataire",
              "name": "nomDestinataire",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.nomDestinataire }}",
              "type": "string"
            },
            {
              "id": "statutDestinataire",
              "name": "statutDestinataire",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.statutDestinataire }}",
              "type": "string"
            },
            {
              "id": "batiment",
              "name": "batiment",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.batiment || '' }}",
              "type": "string"
            },
            {
              "id": "adresse",
              "name": "adresse",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.adresse }}",
              "type": "string"
            },
            {
              "id": "cpVille",
              "name": "cpVille",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.cpVille }}",
              "type": "string"
            },
            {
              "id": "typeDocument",
              "name": "typeDocument",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.templateType }}",
              "type": "string"
            },
            {
              "id": "texteIa",
              "name": "texteIa",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.texteIa || '' }}",
              "type": "string"
            },
            {
              "id": "objet",
              "name": "objet",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.objet || '' }}",
              "type": "string"
            },
            {
              "id": "numeroCourrier",
              "name": "numeroCourrier",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.numeroCourrier }}",
              "type": "string"
            },
            {
              "id": "civiliteRemplace",
              "name": "civiliteRemplace",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.civiliteRemplace }}",
              "type": "string"
            },
            {
              "id": "nomRemplace",
              "name": "nomRemplace",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.nomRemplace }}",
              "type": "string"
            },
            {
              "id": "codeDocument",
              "name": "codeDocument",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.codeDocument }}",
              "type": "string"
            },
            {
              "id": "civiliteDelegue",
              "name": "civiliteDelegue",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.civiliteDelegue }}",
              "type": "string"
            },
            {
              "id": "nomDelegue",
              "name": "nomDelegue",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.nomDelegue }}",
              "type": "string"
            },
            {
              "id": "emailDelegue",
              "name": "emailDelegue",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.emailDelegue }}",
              "type": "string"
            },
            {
              "id": "emailDestinataire",
              "name": "emailDestinataire",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.emailDestinataire }}",
              "type": "string"
            },
            {
              "id": "signatureExp",
              "name": "signatureExp",
              "value": "={{ $('Formulaire (Webhook)').item.json.body.signatureExp || 'FO METAUX' }}",
              "type": "string"
            },
            {
              "id": "date",
              "name": "date",
              "value": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "dateComplete",
              "name": "dateComplete",
              "value": "={{ $now.toFormat('cccc d MMMM yyyy', { locale: 'fr' }) }}",
              "type": "string"
            },
            {
              "id": "heure",
              "name": "heure",
              "value": "={{ $now.toFormat('HH:mm') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-data",
      "name": "Préparer Données",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-480, 336]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.texteIa && $json.texteIa.length > 10 }}"
            }
          ]
        }
      },
      "id": "a03046e6-bbfe-44ff-b9a9-3e55c07164eb",
      "name": "Condition IA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-240, 336]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemma2:2b\",\n  \"prompt\": \"Rédige un document professionnel en français basé sur ces informations : {{ $json.texte_ia }}\",\n  \"stream\": false,\n  \"options\": {\n    \"num_predict\": 500,\n    \"temperature\": 0.7\n  }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b228bc91-be81-458b-9e18-d68c31348d99",
      "name": "Appel IA Gemma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [16, 208]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "texte_ia_genere",
              "name": "texte_ia",
              "value": "={{ $json.response || $('Préparer Données').item.json.texte_ia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-ia",
      "name": "Extraire Texte IA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [256, 208]
    },
    {
      "parameters": {
        "filePath": "/templates/word/template_principal.docx"
      },
      "id": "e27807aa-f85e-47a5-a364-f11fe3c44a00",
      "name": "Lire Template Word",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [-432, 336]
    },
    {
      "parameters": {
        "context": "={{ $('Préparer Données').item.json }}",
          "options": {}
      },
      "type": "n8n-nodes-docxtemplater.docxTemplater",
      "typeVersion": 1,
      "position": [192, 336],
      "id": "docxtemplater",
      "name": "Remplir Template Docx"
    },
    {
      "parameters": {
        "functionCode": "// Récupérer les données préparées\nconst civiliteDestinataire = $('Préparer Données').item.json.civiliteDestinataire;\nconst nomDestinataire = $('Préparer Données').item.json.nomDestinataire;\nconst statutDestinataire = $('Préparer Données').item.json.statutDestinataire;\nconst batiment = $('Préparer Données').item.json.batiment;\nconst adresse = $('Préparer Données').item.json.adresse;\nconst cpVille = $('Préparer Données').item.json.cpVille;\nconst objet = $('Préparer Données').item.json.objet;\nconst numeroCourrier = $('Préparer Données').item.json.numeroCourrier;\nconst civiliteRemplace = $('Préparer Données').item.json.civiliteRemplace;\nconst nomRemplace = $('Préparer Données').item.json.nomRemplace;\nconst codeDocument = $('Préparer Données').item.json.codeDocument;\nconst civiliteDelegue = $('Préparer Données').item.json.civiliteDelegue;\nconst nomDelegue = $('Préparer Données').item.json.nomDelegue;\nconst emailDelegue = $('Préparer Données').item.json.emailDelegue;\nconst emailDestinataire = $('Préparer Données').item.json.emailDestinataire;\nconst signatureExp = $('Préparer Données').item.json.signatureExp;\nconst date = $('Préparer Données').item.json.date;\nconst dateComplete = $('Préparer Données').item.json.dateComplete;\n\n// Récupérer le fichier Word binaire depuis le node précédent\nconst inputData = items[0];\n\nif (!inputData.binary || !inputData.binary.data) {\n  throw new Error('Aucun fichier Word trouvé dans les données binaires !');\n}\n\n// Utiliser les helpers n8n pour récupérer le buffer binaire\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// Convertir le buffer en base64\nconst wordBase64 = binaryBuffer.toString('base64');\n\nconsole.log('Base64 length:', wordBase64.length);\n\n// Créer le HTML de prévisualisation avec le contenu du document Word\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset='utf-8'>\n  <script src='https://cdn.tailwindcss.com'></script>\n</head>\n<body class='p-6 bg-gray-50'>\n  <h2 class='text-xl font-semibold mb-4'>📄 Prévisualisation du document Word</h2>\n  <div class='bg-white p-6 rounded shadow mb-4 border-2 border-gray-200' style='font-family: Calibri, Arial, sans-serif; line-height: 1.8; white-space: pre-wrap;'>\n    ${objet ? `<div class='text-sm text-gray-500 mb-4'>OBJET: <strong class='text-blue-700'>${objet}</strong></div>` : ''}\n    <div class='mb-4'>Paris, le <strong class='text-blue-700'>${date}</strong></div>\n    <div class='mb-4'><strong class='text-blue-700'>${civiliteDestinataire}${nomDestinataire ? ' ' + nomDestinataire : ''}</strong></div>\n    ${statutDestinataire ? `<div class='mb-4'>${statutDestinataire}</div>` : ''}\n    ${batiment ? `<div class='mb-4'>${batiment}</div>` : ''}\n    ${adresse ? `<div class='mb-4'>${adresse}</div>` : ''}\n    ${cpVille ? `<div class='mb-4'>${cpVille}</div>` : ''}\n    ${numeroCourrier ? `<div class='mb-4'>Numéro: <strong class='text-blue-700'>${numeroCourrier}</strong></div>` : ''}\n    ${civiliteDelegue || nomDelegue ? `<div class='mb-4'>Nommé: <strong class='text-blue-700'>${civiliteDelegue || ''} ${nomDelegue || ''}</strong>${emailDelegue ? ` - ${emailDelegue}` : ''}</div>` : ''}\n    ${civiliteRemplace || nomRemplace ? `<div class='mb-4'>Remplaçant: <strong class='text-blue-700'>${civiliteRemplace || ''} ${nomRemplace || ''}</strong></div>` : ''}\n    ${codeDocument ? `<div class='mb-4'>Entreprise: <strong class='text-blue-700'>${codeDocument}</strong></div>` : ''}\n    <div class='mb-4'>Je reste à votre disposition pour toute information complémentaire.</div>\n    <div class='mb-4'>Cordialement,</div>\n    ${signatureExp ? `<div class='mb-4'><strong class='text-blue-700'>${signatureExp}</strong></div>` : ''}\n    <hr class='my-4'>\n    <div class='text-xs text-gray-400'>Email destinataire : <strong class='text-blue-700'>${emailDestinataire}</strong></div>\n  </div>\n  <div class='bg-yellow-50 border-l-4 border-yellow-400 p-4 mb-4'>\n    <p class='text-sm'><strong>ℹ️ Les parties en <span class='text-blue-700 font-bold'>bleu gras</span> sont les données insérées dans le template Word</strong></p>\n  </div>\n  <form id='form' class='flex flex-col gap-4'>\n    <input type='hidden' name='civiliteDestinataire' value='${civiliteDestinataire}'>\n    <input type='hidden' name='nomDestinataire' value='${nomDestinataire || ''}'>\n    <input type='hidden' name='statutDestinataire' value='${statutDestinataire || ''}'>\n    <input type='hidden' name='batiment' value='${batiment || ''}'>\n    <input type='hidden' name='adresse' value='${adresse || ''}'>\n    <input type='hidden' name='cpVille' value='${cpVille || ''}'>\n    <input type='hidden' name='objet' value='${objet || ''}'>\n    <input type='hidden' name='numeroCourrier' value='${numeroCourrier || ''}'>\n    <input type='hidden' name='civiliteDelegue' value='${civiliteDelegue || ''}'>\n    <input type='hidden' name='nomDelegue' value='${nomDelegue || ''}'>\n    <input type='hidden' name='emailDelegue' value='${emailDelegue || ''}'>\n    <input type='hidden' name='civiliteRemplace' value='${civiliteRemplace || ''}'>\n    <input type='hidden' name='nomRemplace' value='${nomRemplace || ''}'>\n    <input type='hidden' name='codeDocument' value='${codeDocument || ''}'>\n    <input type='hidden' name='emailDestinataire' value='${emailDestinataire}'>\n    <input type='hidden' name='signatureExp' value='${signatureExp}'>\n    <input type='hidden' name='wordfile' value='${wordBase64}'>\n    <div class='flex gap-2'>\n      <button type='submit' class='bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700'>\n        ✅ Valider et envoyer par email\n      </button>\n      <button type='button' onclick='window.close()' class='bg-gray-500 text-white px-6 py-2 rounded hover:bg-gray-600'>\n        ❌ Annuler\n      </button>\n    </div>\n  </form>\n  <script>\n    document.querySelector('#form').onsubmit = async e => {\n      e.preventDefault();\n      const btn = e.target.querySelector('button[type=submit]');\n      btn.disabled = true;\n      btn.textContent = '⏳ Envoi en cours...';\n      try {\n        const formData = new FormData(e.target);\n        const data = Object.fromEntries(formData);\n        console.log('Envoi données:', { objet: data.objet, destinataires: data.emailDestinataire, wordfileLength: data.wordfile?.length });\n        await fetch('http://localhost:5678/webhook/validate-doc', {\n          method: 'POST',\n          headers: {'Content-Type': 'application/json'},\n          body: JSON.stringify(data)\n        });\n        alert('✅ Document envoyé avec succès!');\n        window.close();\n      } catch(err) {\n        alert('❌ Erreur: ' + err.message);\n        btn.disabled = false;\n        btn.textContent = '✅ Valider et envoyer par email';\n      }\n    };\n  </script>\n</body>\n</html>`;\n\nreturn { json: { html } };"
      },
      "id": "620cece8-96f0-4ee6-b52f-6c42ea381647",
      "name": "Convertir en HTML (Preview)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        736,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { html: $json.html } }}",
        "options": {}
      },
      "id": "47b960e0-4655-4569-9c17-f4890788ec51",
      "name": "Webhook Preview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        976,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validate-doc",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "f102ee2a-c074-4732-b742-db965fc23c38",
      "name": "Validation (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -432,
        640
      ],
      "webhookId": "5b1faf80-9617-46b5-86ee-f723caa9fd66"
    },
    {
      "parameters": {
        "functionCode": "// Logger ce qui arrive au webhook\nconsole.log('=== VALIDATION WEBHOOK REÇU ===');\nconsole.log('Body:', $json.body);\n\n// Récupérer toutes les variables\nconst civiliteDestinataire = $json.body?.civiliteDestinataire || $json.civiliteDestinataire;\nconst nomDestinataire = $json.body?.nomDestinataire || $json.nomDestinataire;\nconst statutDestinataire = $json.body?.statutDestinataire || $json.statutDestinataire;\nconst batiment = $json.body?.batiment || $json.batiment;\nconst adresse = $json.body?.adresse || $json.adresse;\nconst cpVille = $json.body?.cpVille || $json.cpVille;\nconst objet = $json.body?.objet || $json.objet;\nconst numeroCourrier = $json.body?.numeroCourrier || $json.numeroCourrier;\nconst civiliteRemplace = $json.body?.civiliteRemplace || $json.civiliteRemplace;\nconst nomRemplace = $json.body?.nomRemplace || $json.nomRemplace;\nconst codeDocument = $json.body?.codeDocument || $json.codeDocument;\nconst civiliteDelegue = $json.body?.civiliteDelegue || $json.civiliteDelegue;\nconst nomDelegue = $json.body?.nomDelegue || $json.nomDelegue;\nconst emailDelegue = $json.body?.emailDelegue || $json.emailDelegue;\nconst emailDestinataire = $json.body?.emailDestinataire || $json.emailDestinataire;\nconst signatureExp = $json.body?.signatureExp || $json.signatureExp;\nconst wordBase64 = $json.body?.wordfile || $json.wordfile;\n\nconsole.log('Variables reçues:', { objet, nomDestinataire, emailDestinataire });\n\nif (!emailDestinataire) {\n  throw new Error('Aucun destinataire fourni !');\n}\n\nif (!wordBase64) {\n  throw new Error('Fichier Word manquant !');\n}\n\n// Formater les destinataires\nconst emailList = emailDestinataire.split(',').map(email => email.trim()).filter(email => email.length > 0).join(', ');\n\n// Retourner les données avec le binaire Word\nreturn {\n  json: {\n    civiliteDestinataire,\n    nomDestinataire,\n    statutDestinataire,\n    batiment,\n    adresse,\n    cpVille,\n    objet,\n    numeroCourrier,\n    civiliteRemplace,\n    nomRemplace,\n    codeDocument,\n    civiliteDelegue,\n    nomDelegue,\n    emailDelegue,\n    emailDestinataire: emailList,\n    signatureExp\n  },\n  binary: {\n    data: {\n      data: wordBase64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n      fileName: `Document_${objet}_${Date.now()}.docx`\n    }\n  }\n};"
      },
      "id": "f5a8011a-d68a-4f41-94bb-26fa42dc983f",
      "name": "Générer Word Final",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -128,
        640
      ]
    },
    {
      "parameters": {
        "fromEmail": "contact@fo-metaux.fr",
        "toEmail": "={{ $json.emailDestinataire }}",
        "subject": "={{ 'Document généré - ' + $json.objet }}",
        "text": "={{ 'Bonjour ' + ($json.nomDestinataire || 'Madame, Monsieur') + ',\\n\\nVeuillez trouver ci-joint le document généré.\\n\\nCordialement,\\nFO METAUX' }}",
        "attachments": "data",
        "options": {
          "attachmentsPropertyName": "data"
        }
      },
      "id": "a383a942-0573-4ece-837b-4f8efdb13d8f",
      "name": "Envoi Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        176,
        640
      ],
      "credentials": {
        "smtp": {
          "id": "DDPP2MZx5Nw5x3X9",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a4b72cf2-f680-4c7d-9516-a35c6321b236",
      "name": "Réponse Finale",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        480,
        640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Formulaire (Webhook)": {
      "main": [[{"node": "Préparer Données", "type": "main", "index": 0}]]
    },
    "Préparer Données": {
      "main": [[{"node": "Condition IA", "type": "main", "index": 0}]]
    },
    "Condition IA": {
      "main": [
        [{"node": "Appel IA Gemma", "type": "main", "index": 0}],
        [{"node": "Lire Template Word", "type": "main", "index": 0}]
      ]
    },
    "Appel IA Gemma": {
      "main": [[{"node": "Extraire Texte IA", "type": "main", "index": 0}]]
    },
    "Extraire Texte IA": {
      "main": [[{"node": "Lire Template Word", "type": "main", "index": 0}]]
    },
    "Lire Template Word": {
      "main": [[{"node": "Remplir Template Docx", "type": "main", "index": 0}]]
    },
    "Remplir Template Docx": {
      "main": [[{"node": "Convertir en HTML (Preview)", "type": "main", "index": 0}]]
    },
    "Convertir en HTML (Preview)": {
      "main": [[{"node": "Webhook Preview", "type": "main", "index": 0}]]
    },
    "Validation (Webhook)": {
      "main": [[{"node": "Générer Word Final", "type": "main", "index": 0}]]
    },
    "Générer Word Final": {
      "main": [[{"node": "Envoi Email", "type": "main", "index": 0}]]
    },
    "Envoi Email": {
      "main": [[{"node": "Réponse Finale", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "dai6prI3FQZ3LdSS"
  },
  "versionId": "2522cb87-8c16-4ee8-89ed-35a3aafe46aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89f5c6309230092070201e7d25cd8df96ab5733f35c20be21a63fa5493c50487"
  },
  "id": "dai6prI3FQZ3LdSS",
  "tags": []
}